<div class="notification">
  <!--  Button-->
  <span class="uk-margin-medium-right" uk-icon="history" uk-tooltip="Search History"></span>

  <!--  Notification Body-->
  <div uk-dropdown="mode: click">
    <h5>Search History</h5>
    <ul class="uk-list">
      <li class="list-item uk-animation-slide-right-medium"><span uk-icon="icon: info" uk-tooltip="Get Info"></span>List item 1</li>
      <li class="list-item uk-animation-slide-right-medium"><span uk-icon="icon: info" uk-tooltip="Get Info"></span>List item 2</li>
      <li class="list-item uk-animation-slide-right-medium"><span uk-icon="icon: info" uk-tooltip="Get Info"></span>List item 3</li>
    </ul>
  </div>
</div>
