.notification {
  //position: absolute;
  display: flex;
  margin-right: 50px;
  margin-top: 20px;
  color: #fff;
  padding: 15px;
  height: 20px;

  & span {
    transition: transform .25s;
    position: absolute;
    right: 50px;
    cursor: pointer;
  }

  &:hover {
    & > span {
      transform: scale(1.2);
    }
  }
}

li {
  width: 100%;
  height: 100%;
  padding: 8px;
  //text-align: center;
  span {
    margin-right: 7px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

li:hover {
  background-color: #2F94D817;
}
