@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Dosis&display=swap');
// Modal Css Starts Here

.search-modal{
  height: 400px;
  //width: 800px;
  max-width: 100%;
  background: white;
  border-radius: 10px;
  //position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 160px;
  animation: slideInUp .5s;
  display: block;
  &-header{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #00000017;
    & h3{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      float: left;
    }

    & span {
      & img{
        float: right;
        //position: flex;
        right: 16px;
        top: 25px;
        margin: 0 auto;
        cursor: pointer;
        transition: .5s all;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  &-body{
    padding: 20px;
    height: 285px;
    overflow-y:scroll;

    & .message{
      display: flex;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 10px;
      &-avatar{
        margin-right: 16px;
        margin-top: 10px;
        & img{
          height: 60px;
          width: 60px;
          border-radius: 30px;
          object-fit: cover;
          box-shadow: 0 4px 8px rgba(0,0,0,.45);
        }
      }
      &-body{
        margin-left: 0;
        margin-top: 8px;
        & p{
          margin-bottom:0;
          font-size: 14px;
          font-weight: 500;
          color: #444;
        }
        & small{
          font-weight: 400;
          font-family: Dosis;
          color: #777;
        }
      }

      &:hover{
        background-color: #2F94D817;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }


    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #2F94D8;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: -1px 0 5px rgba(0,0,0,.15);
    }


    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.uk-table tr:hover {
  background-color: #2F94D817;
  cursor: pointer;
}

.searchCol {
  background-color: #2F94D817;
}

.searchButton {
  border-radius: 5px;
  margin-left: 615px;
  height: 40px;
}


